body { 
	height:100%;
	margin:0;
	padding-top:0;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
	font-size:16px;
	font-weight:bold;
	text-anchor:middle;
	cursor: pointer;
}

.axis-label {
	font-size:16px;
}

.navbar-brand {
	padding:10px 15px;
}

.navbar-brand img {
	max-height:40px;
}